<% @comments.each do |comment| %>
  <tr>
    <td><%= comment.id %></td>
    <td><%= comment.body %></td>
    <td><%= comment.created_at %></td>
    <td><%= comment.approved? %></td>
    <td>
      <% if comment.approved? %>
        <%#= katw peranw to comment, anti gia comment.id, einai to idio  %>
        <%= link_to "reject", comment_toggle_status_path(comment), class: "button is-danger", remote: true %>
        <%#= me remote true kanei Processing by CommentsController#toggle_status as JS, opote prepei na xrisimopoiisw JS template  %>
      <% else %>
        <%= link_to "approve", comment_toggle_status_path(comment), class: "button is-primary", remote: true %>
      <% end %>
    </td>
  </tr>
<% end %>
