<table class="table">
  <thead>
    <tr>
      <th>id</th>
      <th>comment</th>
      <th>created_at</th>
      <th>approved</th>
      <th>actions</th>
    </tr>
  </thead>

  <tbody id="js-comments-body">
    <%= render 'comments' %>
  </tbody>
</table>
