<% if @user && @user.errors.any? %>
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @user, remote: true do |f| %>
  <!-- to f antiproswpeuei ena instance (object) tis formas mas -->
  <p class="field">
    <label class="label" for="username">Username</label>
    <%= f.text_field :username, placeholder: "email", class: "input" %> <!-- xtizei to name="user[title]" f to user, title to value -->
  </p>

  <p class="field">
    <label class="label" for="role">Role</label>
    <%= f.text_field :role, placeholder: "role", class: "input" %>
  </p>

  <p class="field">
    <%= f.submit "Create", class: "button is-link" %>
  </p>
<% end %>
