<form class="" action="/posts/<%= @post.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <div class="">
    <label>Post title:</label>
    <input type="text" name="title" value= "<%= @post.title %>">
  </div>

  <div class="">
    <label>Content:</label>
    <textarea name="text" rows="8" cols="80"><%= @post.text %></textarea>
  </div>

  <div class="">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="submit" name="" value="Submit">
  </div>
</form>
