<% @posts.each do |post| %>
  <div class="box">
    <article class="media">
      <div class="media-left">
        <figure class="image is-64x64">
          <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <p>
            <strong><%= post.id %></strong> <small><%= post.title %></small> <small><p><%= post.created_at.strftime("%Y-%m-%d") %></p> <!-- or post.created_at.to_date --></small>
            <br>
            <p><%= post.text %></p>
          </p>
        </div>
      </div>
    </article>

    <p>
      <%= link_to edit_post_path(post) do %>
        Edit
      <% end %> |
      <%= link_to "Delete", post, method: :delete, data: { confirm: "Are you sure?" } %> <!-- to data vrisketai sto rails-ujs -->
      <%= link_to "Delete me js", post, method: :delete, data: { confirm: "Are you sure?" }, remote: true %> <!-- to data vrisketai sto rails-ujs -->
    </p>
  </div>
<% end %>
