<% if @post && @post.errors.any? %>
  <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @post, remote: true do |f| %>
  <!-- to f antiproswpeuei ena instance (object) tis formas mas -->
  <p>
    <%= f.text_field :title, placeholder: "Title", class: "input" %> <!-- xtizei to name="post[title]" f to post, title to value -->
  </p>

  <p>
    <%= f.text_area :text, placeholder: "Message", class: "textarea" %>
  </p>

  <p>
    <%= f.submit "Send", class: "button" %>
  </p>
<% end %>

<!-- <form class="" action="/posts" method="post">
  <div class="">
    <label>Post title:</label>
    <input type="text" name="post[title]" value="">
  </div>

  <div class="">
    <label>Content:</label>
    <textarea name="post[text]" rows="8" cols="80"></textarea>
  </div>

  <div class="">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="submit" name="" value="Submit">
  </div>
</form> -->
