This is the show page.

<h2> <%= @post.title %> </h2>
<p> <%= @post.text %> </p>

<h3>Comments (<%= @post.comments.approved.size %>) </h3>

<ul>
  <% @post.comments.latest.approved.each_with_index do |c| %>
    <li> <%= c.id %> | <%= c.body %> </li>
  <% end %>
</ul>

<!-- form_tag xrisimopoiw otan 8elw kati custom, plain -->
<%= form_for @comment do |c| %>

  <%= c.hidden_field :post_id, value: @post.id %>

  <%= hidden_field_tag :post_id, value: @post.id %>

  <p>
    <%= c.text_field :author, placeholder: "Author" %>
  </p>

  <p>
    <%= c.text_area :body, placeholder: "Your comment" %>
  </p>

  <p>
    <%= c.submit "Send message", class: "button" %>
  </p>
<% end %>
