<div class="columns">
  <div class="column">
    <%= form_tag contact_send_path do %>
      <p><%= text_field_tag 'Email', nil, placeholder: "Email" %></p>
      <p><%= text_field_tag 'Name', nil, placeholder: "Name" %></p>
      <p><%= text_area_tag 'Message', nil, placeholder: "Message" %></p>
      <div><%= submit_tag 'Save' %></div>
    <% end %>
  </div>
</div>
