<!DOCTYPE html>
<html>
  <head>
    <title>Admin Panel</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <p><%= flash[:notice] %></p>
    <% end %>

    <nav class="navbar" role="navigation" aria-label="main navigation">

    </nav>

    <div class="container is-fluid">
      <div class="notification">
        This container is <strong>centered</strong> on desktop.
      </div>

      <%= yield %>
    </div>
  </body>
</html>
