<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <p><%= flash[:notice] %></p>
    <% end %>

    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">
         <img src="https://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
        </a>
        <%= link_to "Home", root_path, class: "navbar-item" %>
        <%= link_to "Posts", posts_path, class: "navbar-item" %>
        <%= link_to "New Post", new_post_path, class: "navbar-item" %>
        <%= link_to "Remote Posts", posts_path, class: "navbar-item", remote: true %>
        <%= link_to "Contacts", contact_path, class: "navbar-item" %>
        <%= link_to "Comments", comments_path, class: "navbar-item" %>

        <% if user_signed_in? %>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              Welcome <%= current_user.email %>
            </a>

            <div class="navbar-dropdown is-pulled-right">
              <%= link_to 'My account', edit_user_registration_path, class: 'navbar-item' %>
              <hr class="navbar-divider">
              <%= link_to 'Sign out', destroy_session_path(:user), method: :delete, class: 'navbar-item' %>
            </div>
          </div>
        <% else %>
          <%= link_to 'Sign in', user_session_path, class: 'navbar-item' %>
        <% end %>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <%= raw(user_email(@user)) %>
    </nav>

    <div class="container is-fluid">
      <div class="notification">
        This container is <strong>centered</strong> on desktop.
      </div>

      <%= yield %>
    </div>
  </body>
</html>
